
@{
    ViewBag.Title = "Site Visit Approval";
    ViewBag.Transport = "active";
    ViewBag.SiteVisitApproval = "active";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 col-xs" style="margin-top:0px">
            <h3 style="margin-top:0px;margin-bottom:4px" align="left">PENDING SITE VISIT APPROVALS</h3>
            <div class="specialLine col-md-1"></div>
        </div>

    </div>
    <div id="grid"></div>
</div>

<script>
    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Booking/GetSiteVisitsForApproval",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                update: {
                    url: "/Booking/UpdateSiteVisitApproval",
                    dataType: "json",
                    complete: function (jqXhr, textStatus) {
                        if (textStatus == 'success') {
                            toastr.success('Update Successfull');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.error('Error in Updating');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    }
                },
                destroy: {
                    url: "/Sample/Destroy",
                    dataType: "jsonp"
                },
                
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: false, nullable: true },
                        ProjectName: { editable: false, nullable: true },
                        AgentName: { editable: false, nullable: true },
                        ImmediateSeniorName: { editable: false, nullable: true },
                        CustomerName: { editable: false, nullable: true },
                        NoOfCustomers: { editable: false, nullable: true },
                        CustomerMobile: { editable: false, nullable: true },
                        DateOfVisit: { editable: false, nullable: true, template: '#= kendo.toString(kendo.parseDate(DateOfVisit), "dd/MM/yyyy")#' },
                        FromAddress: { editable: false, nullable: true },
                        ToAddress: { editable: false, nullable: true },
                        Status: { validation: { required: true } },
                    }
                }
            }
        });

        $('.k-icon k-i-edit').toggleClass('.k-icon k-i-edit');
        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 550,
            toolbar: ["search"],
            columns: [
                {
                    command: [
                        { name: "edit", text: { edit: " ", update: " ", cancel: " " }, visible: false },
                        //{ name: "destroy", text: " " }
                    ], title: "&nbsp;", width: "80px"
                },
               { field: "Status", title: "Status", width: "120px", editor: statusDropDownEditor },
                { field: "ProjectName", title: "Project Name", width: "150px" },
                { field: "AgentName", title: "Agent Name", width: "150px" },
                { field: "ImmediateSeniorName", title: "Sr. Agent Name", width: "150px" },
                { field: "CustomerName", title: "Customer Name", width: "150px" },
                { field: "NoOfCustomers", title: "No of Customers", width: "120px" },
                { field: "CustomerMobile", title: "Customer Mobile", width: "120px" },
                { field: "AgentMobile", title: "Agent Mobile", width: "120px" },

                { field: "DateOfVisit", title: "Visit Date", width: "90px" },
                { field: "FromAddress", title: "From Address", width: "150px" },
                { field: "ToAddress", title: "To Address", width: "150px" },
                { field: "DriverName", title: "Driver Name", width: "150px" },

            ],
            editable: "inline",
        });



        function statusDropDownEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: true,
                    dataTextField: "Status",
                    dataValueField: "ID",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "/Cascade/GetApprovalType",

                        }
                    }
                });
        }

    });
</script>