
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Admin = "active";
    ViewBag.Project = "active";
}
<style>

    @@media (min-width: 768px) {

        .container {
            margin-left: 350px;
        }

        .jumbotron {
            width: 1700px;
        }
    }
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-1 col-xs">
            <h3 align="center" style="margin-bottom:2px">PROJECTS</h3>
            <div class="specialLine"></div>
        </div>

    </div>
    <div id="grid"></div>
</div>

<script>

    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Project/Details",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                update: {
                    url: "/Project/UpdateProject",
                    dataType: "json",
                    complete: function (jqXhr, textStatus) {
                        if (textStatus == 'success') {
                            toastr.success('Update Successfull');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.error('Error in Updating');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    }
                },
                destroy: {
                    url: "/Sample/Destroy",
                    dataType: "jsonp"
                },
                create: {
                    url: "/Project/CreateProject",
                    dataType: "json",
                    complete: function (jqXhr, textStatus) {
                        if (textStatus == 'success') {
                            toastr.success('Added Successfull');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.error('Error in Adding');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "ProjectID",
                    fields: {
                        ProjectID: { editable: false, nullable: true },
                        ProjectName: { validation: { required: true } },
                        ProjectLocation: { validation: { required: true } },
                        BookingStatus: { validation: { required: true } },
                        ClubHouseCharges: { type: "number", validation: { min: 0, required: true } },
                        ProjectType: { type: "number", validation: { min: 1, max: 2, required: true } },
                        ProjectApproved: { type: "boolean" },
                        //Designation: { validation: { required: false } },
                    }
                }
            }
        });

        $('.k-icon k-i-edit').toggleClass('.k-icon k-i-edit');
        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 750,
            toolbar: ["create"],
            columns: [
                { field: "ProjectName", title: "Project", width: "250px" },
                { field: "Description", title: "Description", width: "250px" },
                { field: "ProjectLocation", title: "Location", width: "200px" },
                { field: "BookingStatus", title: "Status", width: "100px", editor: statusDropDownEditor },
                { field: "ClubHouseCharges", title: "Club House Charges", width: "120px" },
                { field: "ApprovalStatus", title: "Approvals", width: "150px" },
                { field: "LocationURL", title: "Location URL", width: "200px" },
                { field: "Pricing", title: "Pricing", width: "200px" },
                { field: "BSP", title: "BSP", width: "200px" },
                { field: "ProjectType", title: "ProjectType", width: "200px" },
                { field: "ProjectApproved", title: "Project Approved", width: "200px", "template": "<input type='checkbox' #= (ProjectApproved == true) ? checked = 'checked' : ''# />" },
                //{
                //    field: "ProjectType", title: "ProjectType", width: "170px", template: $("#template1").html(), editor: function (container) { // use a dropdownlist as an editor
                //        //create an input element with id and name set as the bound field (brandId)
                //        var input = $('<input id="ProjectTypes" name="ProjectTypes">');
                //        // append to the editor container
                //        input.appendTo(container);

                //        // initialize a dropdownlist
                //        input.kendoDropDownList({
                //            dataTextField: "ProjectType",
                //            dataValueField: "ID",
                //            dataSource: projectType // bind it to the brands array
                //        }).appendTo(container);
                //    }
                //},
                {
                    command: [
                        { name: "edit", text: { edit: " ", update: " ", cancel: " " } },
                        //{ name: "destroy", text: " " }
                    ], title: "&nbsp;", width: "60px"
                }],
            editable: "inline",
        });



        function statusDropDownEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: true,
                    dataTextField: "BookingStatus",
                    dataValueField: "ID",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "/Cascade/GetStatus",

                        }
                    }
                });
        }
        $.getJSON('/Cascade/GetProjectType', function (response) {
            if (response != null) {
                projectType = response;
            }
        });
        function projectTypeDropDownEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: true,
                    dataTextField: "ProjectType",
                    dataValueField: "ID",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "/Cascade/GetProjectType",

                        }
                    }
                });
        }

    });

    function brandName(brandId) {
        if (brandId != '' || brandId != null) {
            for (var i = 0; i < projectType.length; i++) {

                if (projectType[i].ID == brandId) {
                    return projectType[i].ProjectType;
                }
            }
        }
    }
</script>

<script type="text/x-kendo-template" id="template1">
    #if(typeof ProjectType === 'undefined') {# #: brandName(0) # #} else {# #: brandName(Designation) # #}#
</script>



<style>
    .specialLine {
        box-sizing: border-box;
        border-top: 3px solid rgba(227, 63, 14, 1);
        margin-bottom: 10px;
    }
</style>