@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="jumbotron">
    
    <div class="row">
        <div class="col-md-12 col-xs" style="margin-top:0px">
            <h3 style="margin-top:0px;margin-bottom:4px" align="left">RESET CONFIRMATION</h3>
            <div class="specialLine col-md-1"></div>
        </div>

    </div>
    <div class="row">
        <div>
            <p>
                Your new password has been sent to your registered mobile no. Use that password to login
                <br />
                @Html.ActionLink("Redirect to Login", "Login", "Account")
            </p>
        </div>
    </div>
    
</div>
