@{
    ViewBag.Title = "DashBoard";
}
<h2>@ViewBag.Title.</h2>
<h3>Welcome Admin</h3>

    Register Users <a href="/Account/Register">Here</a>

<p>Use this area to provide additional information.</p>
