
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


</style>

<body>

    <h2>How To Create A Loader</h2>

    <div style="display:none" class="loader"></div>
    <button onclick="Show()"> Show </button>
    <button onclick="Hide()"> Hide </button>
</body>


<script>
    $('.loader').hide();
    function Show() {
        $('.loader').show();
    }
    function Hide() {
        $('.loader').hide();
    }
</script>