@{
    ViewBag.Title = "Users";
    ViewBag.Admin = "active";
    ViewBag.Users = "active";
}


<style>

    @@media (min-width: 768px) {

        .container {
            margin-left: 350px;
        }

        .jumbotron {
            width: 1700px;
        }
    }
</style>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-1 col-xs">
            <h3 align="center" style="margin-bottom:2px">USERS</h3>
            <div class="specialLine"></div>
        </div>

    </div>
    <div id="grid"></div>
</div>

<script>

    


    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/User/Details",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                update: {
                    url: "/User/UpdateUser",
                    dataType: "json",
                    complete: function (jqXhr, textStatus) {
                        if (textStatus == 'success') {
                            toastr.success('Update Successfull');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.error('Error in Updating');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    }
                },
               
               
               
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "UserName",
                    fields: {
                       
                        Role: { editable: false, nullable: true },
                        Active: { type: "boolean" },
                        PhoneNumber: { editable: false }
                        //Designation: { validation: { required: false } },
                    }
                }
            }
        });

        $('.k-icon k-i-edit').toggleClass('.k-icon k-i-edit');
        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 750,
            toolbar: ["search", "excel"],
            excel: {
                fileName: "Users.xlsx",
               
                filterable: true,
                allPages: true
            },
            columns: [

                { field: "UserName", title: "UserName", width: "200px" },
                { field: "Role", title: "Role", width: "100px" },
                { field: "PhoneNumber", title: "Phone no", width: "100px" },
                { field: "Active", title: "Active User", width: "200px", "template": "<input type='checkbox' #= (Active == true) ? checked = 'checked' : ''# />" },

                {
                    command: [
                        { name: "edit", text: { edit: " ", update: " ", cancel: " " } },
                        //{ name: "destroy", text: " " }
                    ], title: "&nbsp;", width: "60px"
                }],
            editable: "inline",
        });



        
       

    });




    $(document).ready(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/User/Details",
                    contentType: "application/json",
                    dataType: "json",
                    type: "POST"
                },
                update: {
                    url: "/User/UpdateUser",
                    dataType: "json",
                    complete: function (jqXhr, textStatus) {
                        if (textStatus == 'success') {
                            toastr.success('Update Successfull');
                            $("#grid").data("kendoGrid").dataSource.read();

                        }
                        else {
                            toastr.error('Error in Updating');
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            
            schema: {
                model: {
                    id: "UserName",
                    fields: {
                        UserName: { editable: false, nullable: true },
                        Role: { editable: false, nullable: true },
                        Active: { type: "boolean" },
                        PhoneNumber: { editable: false }
                        //Designation: { validation: { required: false } },
                    }
                }
            }
        });

        $('.k-icon k-i-edit').toggleClass('.k-icon k-i-edit');
        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
           
            toolbar: ["search", "excel"],
            excel: {
                fileName: "ProjectPics.xlsx",

                //proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                filterable: true,
                allPages: true
            },
            excelExport: exportGridWithTemplatesContent,
            columns: [

                { field: "UserName", title: "UserName", width: "200px" },
                { field: "Role", title: "Role", width: "100px" },
                { field: "PhoneNumber", title: "Phone no", width: "100px" },
                { field: "Active", title: "Active User", width: "200px", "template": "<input type='checkbox' #= (Active == true) ? checked = 'checked' : ''# />" },

                { command: ["edit"], title: "&nbsp;", width: "100px" }
            ],
            editable: "inline"
        });


    });


    function exportGridWithTemplatesContent(e) {
        var data = e.data;
        var gridColumns = e.sender.columns;
        var sheet = e.workbook.sheets[0];
        var visibleGridColumns = [];
        var columnTemplates = [];
        var dataItem;
        // Create element to generate templates in.
        var elem = document.createElement('div');

        // Get a list of visible columns
        for (var i = 0; i < gridColumns.length; i++) {
            if (!gridColumns[i].hidden) {
                visibleGridColumns.push(gridColumns[i]);
            }
        }

        // Create a collection of the column templates, together with the current column index
        for (var i = 0; i < visibleGridColumns.length; i++) {
            if (visibleGridColumns[i].template) {
                columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
            }
        }

        // Traverse all exported rows.
        for (var i = 1; i < sheet.rows.length; i++) {
            var row = sheet.rows[i];
            // Traverse the column templates and apply them for each row at the stored column position.

            // Get the data item corresponding to the current row.
            var dataItem = data[i - 1];
            for (var j = 0; j < columnTemplates.length; j++) {
                var columnTemplate = columnTemplates[j];
                // Generate the template content for the current cell.
                elem.innerHTML = columnTemplate.template(dataItem);
                if (row.cells[columnTemplate.cellIndex] != undefined)
                    // Output the text content of the templated cell into the exported cell.
                    row.cells[columnTemplate.cellIndex].value = elem.textContent || elem.innerText || "";
            }
        }
    }
</script>