/*

The Town

https://templatemo.com/tm-525-the-town

*/

html {
  font-size: 18px;
}

body {
  color: #8f8f8f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

.tm-section-pad-top {
  padding-top: 135px;
}

.tm-text-primary {
  color: #3496d8;
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color: #3496d8;
  padding: 14px 35px;
  border-radius: 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #73c1f6;
}

/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #3496d8;
}

.tm-navbar.scroll .navbar-brand {
  color: #8f8f8f;
}

.nav-item {
    list-style: none;
    padding-right: 10px;
}

.tm-nav-link {
  color: black;
}

.tm-navbar.scroll .tm-nav-link {
  color: #8f8f8f;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #3496d8;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-toggler-icon {
    color: #dc3545;
    padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
    border: 1px solid #3496d8;
}

.tm-navbar.scroll .navbar-toggler-icon {
    color: #3496d8;
}

/* Hero */

#hero {
    background-image: url('../Images/heroPage.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 375px;
    /* background-image: url('../Images/wall.JPG');*/
    position: relative;
    
}

@media (min-height: 830px) {
  #hero {
    background-position: center -210px;
  }
}



@media (min-height: 680px) and (max-height: 829px) {
  #hero {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #hero {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #hero {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-hero-text-container-inner {
  margin-top: -90px;
}

.tm-hero-title {
  font-size: 3.5rem;
  text-shadow: 2px 2px 2px #333;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 18%;
  
}

/*@media (max-width: 600px) {
    .tm-down-arrow-link {
        display: block;
        margin-top: 18%;
        position:absolute;
        top:-60px;
        right:170px
    }
}*/

.tm-down-arrow {
  color: #c57e7d;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 10px 22px 8px;
  transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: white;
  background: #3496d8;
}

/* Introduction */
#introduction {
    /*background-image: url('../Images/fantasy-2543658.jpg');*/
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../Images/joana.jpg');
    background-size: cover;
}
.tm-section-title {
  font-size: 2.6rem;
  font-weight: normal;
}

.tm-intro-text {
  font-size: 1.2rem;
  line-height: 1.4;
}

.tm-icon {
  display: block;
  margin-bottom: 55px;
  color: #3496d8;
}

/* Work */

.tm-work-description {
  max-width: 650px;
  width: 100%;
  
  font-size: 1rem;
}

.tm-gallery-container {
  padding-top: 70px;
  padding-bottom: 120px;
}

.tm-gallery-item {
  margin: 0 15px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3ba0dd;
}

.slick-dots li button:before {
  font-size: 26px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  /* margin: 10px 1%;
  min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%; */
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #4a3753;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.5;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #3496d8;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Contact */
#work {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
 
    /*background-image: url('../Images/fantasy-2543658.jpg');*/
    /*background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../Images/joana1.jpg');
    background-size: cover;*/
}

#contact {
    color: white;
    /*background-image: url('../Images/footerImage.jpg');*/
   
    /*background-image: url('../Images/pexels-photo.jpg');*/
    /*background-image: url('../Images/contact.jpg');*/
    /*background-image: url('../Images/phone.jpg');*/
    /*background: #d3cce3;
    background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0);
    background: linear-gradient(to right, #d3cce3, #e9e4f0);*/
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../Images/joanna-kosinska-RE-8WswW95o-unsplash.jpg');
    /*background-image: url('../Images/conus.jpg');*/
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 850px;*/
    position: relative;
    background-position: unset !important;
    padding-bottom: 50px;
    padding-top: 160px;
}
#galleryBox {
    background-image: url('../Images/gallery1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: linear-gradient(to top, #e3eeff 0%, #f3e7e9 99%, #e3eeff 100%);*/
    /*min-height: 850px;*/
    position: relative;
    background-position: unset !important;
    padding-bottom: 50px;
    padding-top: 160px;
}
.tm-underline {
  border-top: 2px solid white;
  height: 8px;
  width: 100%;
}

.tm-underline-inner {
  width: 25%;
  height: 8px;
  background: white;
}

.tm-contact-item {
  margin-bottom: 75px;
}

.tm-contact-item-link {
  display: flex;
  align-items: center;
}

.tm-contact-item-link i,
.tm-contact-item-link span {
  color: white;
  transition: all 0.3s ease;
}

.tm-contact-item-link:hover i,
.tm-contact-item-link:hover span {
  color: #3496d8;
}

.tm-input {
  padding: 8px 25px;
  border-radius: 3px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-btn-submit {
  margin-left: 20px;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #3496d8;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 65px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .tm-btn-submit {
    margin-left: 20px;
    margin-top: 0;
  }

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #8f8f8f;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}

@media (max-width: 420px) {
  .tm-btn-submit {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

.login-box {
    margin: auto;
    border-width: 1px;
    border-color: White border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.3);
    padding: 30px 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ec407a;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
}

    .login-box .row {
        margin: 0px 30px;
    }

    .login-box #socialLoginList .btn {
        padding: 10px !important;
    }

    .login-box .login-text {
        font-size: 22px;
        font-weight: 400;
        margin: 0px;
        margin-bottom: 30px;
        padding: 0px !important;
    }

    .login-box .register-text {
        font-size: 22px;
        font-weight: 400;
        margin: 0px;
        margin-bottom: 30px;
        color: #f58525;
        text-align: right;
        padding: 0px !important;
    }

        .login-box .register-text a {
            text-decoration: none;
            color: #f58525;
        }

    .login-box .info-heading {
        padding: 10px 40px;
        color: #978d8a;
        font-size: 14px;
        background: #f4f3f3;
        font-weight: 400;
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

.textbox-control {
    border: 0px;
    border-radius: 5px;
    border: 1px solid #c3b9b6;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    height: 30px;
    font-size: small;
    color:black;
    /**/
}
.label-control {
    border: 0px;
    
    
    padding-left: 10px;
    padding-right: 10px;
    
    height: 30px;
    font-size: small;
    color: black;
    /**/
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: black;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color:black
}

input[type=submit] {
    background-color: #3496d8;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }



.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}



#wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content1 {
    max-width: 600px;
    width: 100%;
    min-width: 260px;
    margin: 0 5%;
    margin-top: 10%;
    transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
    .content1 {
        margin: 0 4%;
        margin-top: 5%;
    }
}

/* Tabs menu */
.tabs1 {
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 2px 2px 0px 0px;
}

@media screen and (max-width: 512px) {
    .tabs1 {
        height: 40px;
    }
}

/* Tab Links */
.tablinks1 {
    background: transparent;
    background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    /*change depending on the number of tabs*/
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    overflow: hidden;
    transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
    .tablinks1 {
        height: 40px;
        font-size: 12px;
    }
}

.tablinks1:before {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

/*tab buttons hover*/
.tablinks1:hover::before {
    height: 100%;
    z-index: 2;
    bottom: 0;
}

@media screen and (max-width: 512px) {
    .tablinks1:hover::before {
        height: 0;
    }
}

/* Tab active */
.tablinks1.active {
    background-color: white;
    z-index: 0;
    border-right: 0px;
    border-left: 0px;
    height: 110px;
    bottom: 0px;
    overflow: hidden;
}

@media screen and (max-width: 512px) {
    .tablinks1.active {
        height: 60px;
    }
}

.tablinks1.active:before {
    content: "";
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
}

/* Tabs text */
.tablinks1.active p,
.tablinks1.active:hover p {
    opacity: 1;
    background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tablinks1 p {
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
    color: #686868;
    backface-visibility: hidden;
    font-weight: 400;
}

.tablinks1:hover p {
    color: white;
    opacity: 1;
}

@media screen and (max-width: 512px) {
    .tablinks1:hover p {
        color: #686868;
        opacity: 0.6;
    }
}

/* Tabs text bigger */
.tablinks1 p:before {
    content: attr(data-title);
    position: absolute;
    height: auto;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
    font-size: 40px;
    transition: 1s ease-out;
    z-index: -1;
    font-weight: 600;
    top: 110%;
}

@media screen and (max-width: 512px) {
    .tablinks1 p:before {
        display: none;
    }
}

.tablinks1:hover p:before {
    opacity: 0.1;
    font-size: 40px;
    top: -80%;
}

/* tab content */
.wrapper_tabcontent1 {
    background-color: white;
    margin-top: 0px;
    z-index: -3;
    position: relative;
    opacity: 1;
    padding: 40px 60px;
    overflow: hidden;
    transition: all 1s ease;
    top: 0;
}

.tabcontent1 {
    display: none;
    min-height: 180px;
}

@keyframes tabEffect {
    from {
        top: -40px;
    }

    to {
        top: 0px;
    }
}

.tabcontent1.active {
    transition: all 1s ease;
    display: block;
}

/* Tab content line */
.wrapper_tabcontent1:after {
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    left: 0;
    bottom: 0;
    z-index: -2;
    transition: all 1s ease;
}

/* Title */
.tabcontent1 h3 {
    font-size: 40px;
    top: 75px;
    transform: rotate(90deg);
    position: absolute;
    left: -90px;
    opacity: 0.1;
    width: 200px;
    height: 60px;
    background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    animation: city 1s ease;
}

@media screen and (max-width: 512px) {
    .tabcontent1 h3 {
        top: 65px;
    }
}

@keyframes city {
    from {
        left: -150px;
    }

    to {
        left: -90px;
    }
}
/* Text*/
.tabcontent1 p {
    color: #686868;
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-weight: 100;
    transition: all 1s ease;
    animation: fadeEffect 0.6s ease;
    width: 100%;
    font-size: 16px;
    font-family: "IBM Plex Sans", sans-serif;
}

@media screen and (max-width: 512px) {
    .tabcontent1 p {
        font-size: 14px;
        line-height: 26px;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        margin-left: 30px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}
