<p><span style="color: #333399;"><strong>Greetings from Sri Aditya Squares ,it's a Gentle Reminder about your due payment of your property to avoid penality charges.Please ignore if you already paid .</strong></span></p>
<p style="text-align: left;">&nbsp;</p>
<table style="border-collapse: collapse; width: 69.8864%; height: 90px;" border="1">
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 25%; height: 18px;"><strong><span style="color: #008000;">PROJECT</span>&nbsp;</strong></td>
            <td style="width: 75%; height: 18px;"><strong>#Project</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 25%; height: 18px;"><span style="color: #008000;"><strong>TOWER</strong></span></td>
            <td style="width: 75%; height: 18px;"><strong>#Tower</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 25%; height: 18px;"><span style="color: #339966;"><strong>FLAT</strong></span></td>
            <td style="width: 75%; height: 18px;"><strong>#Flat</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 25%; height: 18px;"><span style="color: #339966;"><strong>DUE AMOUNT</strong></span></td>
            <td style="width: 75%; height: 18px;"><strong>#DueAmount</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 25%; height: 18px;"><span style="color: #339966;"><strong>DUE DATE</strong></span></td>
            <td style="width: 75%; height: 18px;"><strong>#DueDate</strong></td>
        </tr>
    </tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="color: #333399;"><strong>Regards,</strong></span></p>
<p style="text-align: left;"><span style="color: #333399;"><strong>SAS</strong></span></p>