
@{
    ViewBag.Title = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Dashboard = "active";
    ViewBag.AgentDashboard = "active";
}


<div class="jumbotron" style="padding-bottom:10px;margin-bottom:10px">
    <div class="row">
        <div class="col-md-1 col-xs">
            <h3 align="center" style="margin-bottom:2px">AGENT HIERARCHY</h3>
            <div class="specialLine"></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
            <br />
            <div id="treelist"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //var service = "https://demos.telerik.com/kendo-ui/service";

        $("#treelist").kendoTreeList({
            toolbar: ["excel"],
            excel: {
                fileName: "Hierarchy.xlsx",
                proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                filterable: true
            },
            dataSource: {
                transport: {
                    read: {
                        url: "/Dashboard/GetAgentCommissionByAgentLogins",
                        dataType: "json"
                    }
                },


                schema: {
                    model: {
                        id: "AgentCode",
                        parentId: "AgentSponserCode",
                        fields: {
                            //AgentCode: { field: "AgentCode", type: "number" },
                            AgentSponserCode: { field: "AgentSponserCode", nullable: true },
                            //Extension: { field: "Extension", type: "number" }
                        },
                        expanded: true
                    }
                }
            },
            height: 740,
            filterable: true,
            sortable: true,
            columns: [
                {
                    field: "AgentID", title: "AgentID", width: "150px",
                },
                {
                    field: "AgentName", title: "AgentName", width: "250px",
                },
                {
                    field: "Designation", title: "Designation", width: "250px",
                },
                { field: "AgentCode", title: "AgentCode", width: "150px" },
                {
                    field: "AgentMobileNo", title: "Mobile", width: "100px",
                },
                { field: "AgentCommission", width: "150px", template: "#= currency(AgentCommission)#" },
                { field: "AmountPaid", width: "150px", template: "#= currency(AmountPaid)#" },
                { field: "NetBalance", width: "150px",template:"#= currency(NetBalance)#" }
            ],

        });
    });

    function currency(data) {
        return '<b style="font-size:15px">&#8377;</b>'+'.' + data;
    }


    window.onload = function () {
        getLocation();
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        $.get("/Cascade/UpdateAgentLocation", { latitude: position.coords.latitude, longitude: position.coords.longitude }, function (data) {
        });
    }
</script>